<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sarmag.neobyte.makeup" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".wajah" >
        </activity>
        <activity
            android:name=".warna" >
        </activity>
        <activity
            android:name=".k_warna" >
        </activity>
        <activity android:name=".hidung" >
        </activity>
        <activity android:name=".bibir" > </activity>
        <activity android:name=".mata" > </activity>
        <activity android:name=".hasil" > </activity>
    </application>

</manifest>
